@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #0D1117;
  --text-foreground: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-foreground);
  }
}
